{erl_opts, [debug_info]}.
{deps,
 [{ecgi, {git, "git://github.com/bhuztez/ecgi.git", {ref, "067d4c2bfe96516e2347d92e2469d148e1b7f5ae"}}}
 ]}.
{erl_first_files,
 ["src/erlack_pgen.erl",
  "src/erlack_url_rule.erl",
  "src/erlack_regex.erl",
  "src/erlack_nfa.erl",
  "src/erlack_tagged_nfa.erl",
  "src/erlack_dfa.erl",
  "src/erlack_utf8_regex.erl",
  "src/erlack_url_regex.erl",
  "src/erlack_group_map.erl",
  "src/erlack_range_list.erl",
  "src/erlack_nfa_utils.erl",
  "src/erlack_thompson_nfa.erl",
  "src/erlack_url_dispatch.erl"]
}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "travis-ci"}.

