{erl_opts, [debug_info]}.
{deps,
 [{ecgi, {git, "git://github.com/bhuztez/ecgi.git", {ref, "4c2ea8c50d4d7bf2d3ce44d0f414f0a6d22c232c"}}}
 ]}.
{erl_first_files,
 ["src/erlack_pgen.erl",
  "src/erlack_url_rule.erl",
  "src/erlack_regex.erl",
  "src/erlack_nfa.erl",
  "src/erlack_tagged_nfa.erl",
  "src/erlack_dfa.erl",
  "src/erlack_utf8_regex.erl",
  "src/erlack_url_regex.erl",
  "src/erlack_group_map.erl",
  "src/erlack_range_list.erl",
  "src/erlack_nfa_utils.erl",
  "src/erlack_thompson_nfa.erl",
  "src/erlack_url_dispatch.erl"]
}.
