{erl_opts, [debug_info]}.
{deps,
 [{ecgi, {git, "git://github.com/bhuztez/ecgi.git", {ref, "d0544e5171ffef1f6c20263abed51f8dd95ef56d"}}}
 ]}.
{erl_first_files,
 ["src/erlack_peg.erl",
  "src/erlack_url_rule.erl",
  "src/erlack_regex.erl",
  "src/erlack_nfa.erl",
  "src/erlack_tagged_nfa.erl",
  "src/erlack_dfa.erl",
  "src/erlack_utf8_regex.erl",
  "src/erlack_url_regex.erl",
  "src/erlack_group_map.erl",
  "src/erlack_range_list.erl",
  "src/erlack_routing_utils.erl",
  "src/erlack_thompson_nfa.erl",
  "src/erlack_url_dispatch.erl"]
}.
